/* buttons
*******************************************************************/

.btn-primary {
    background: $app-color-1;
    border: 1px solid $app-color-1;
    color: white;
    &:active,
    &:focus,
    &:hover {
        background: $white !important;
        color: $app-color-1 !important;
        border: 1px solid $app-color-1 !important;
        box-shadow: none;
    }
}

.btn-white {
    border: 0;
    background: white;
    border-bottom: 4px solid white;
    color: black;
    padding-top: 7px;
    padding-bottom: 5px;
    &:focus,
    &:hover {
        border-bottom: 4px solid $app-color-1;
        color: black;
        text-decoration: none;
        box-shadow: none;
    }
}

.btn-outline-white {
    background: transparent;
    border: 1px solid white;
    color: white;
    &:focus,
    &:hover {
        background: white;
        color: black;
        box-shadow: none;
    }
}

.btn-black {
    background: black;
    border: 1px solid black;
    color: white;
    i {
        color: $app-color-1;
    }
    &:focus,
    &:hover {
        background: transparent;
        border: 1px solid black;
        color: black;
        box-shadow: none;
    }
}

.btn-outline-black {
    background: transparent;
    border: 1px solid black;
    color: black;
    i {
        color: $app-color-1;
    }
    &:focus,
    &:hover {
        border: 1px solid $app-color-1;
        background: $app-color-1;
        color: white;
        box-shadow: none;
        i {
            color: white;
        }
    }
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    font-weight: 500;
    transition: all linear .2s;
}

.btn-lg {
    padding: 9px 20px 12px;
    font-size: 16px;
    min-width: 200px;
}

.btn {
    &.btn-link {
        color: $app-color-1;
        font-weight: 600;
    }
}
