@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tepr87');
  src:  url('fonts/icomoon.eot?tepr87#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tepr87') format('truetype'),
    url('fonts/icomoon.woff?tepr87') format('woff'),
    url('fonts/icomoon.svg?tepr87#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-left-arrow:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-placeholder:before {
  content: "\e905";
}
.icon-right-arrow:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-speech-bubble:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
